.banner {
  padding: 210px 0;
  color: white;
  background-size: cover;
  background-position: center;
}

.banner h1{
  margin: 0;
  padding: 10px 0;
}

.banner p {
  color:rgba(200, 191, 191, 0.7);
  font-size: 20px;
}
